:root {
  --purple: #7449bb;
  --black: #1b1b1b;
  --white: #ffffff;
  --border: #000;

  --ff-text-accent: 'Playfair Display', serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: var(--black);
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Header */
.header {
  padding-bottom: 100px;
}

.header__iner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header__title {
  font-family: var(--ff-text-accent);
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
}
.menu {
  margin-left: 130px;
  margin-right: 185px;
}
.menu__item {
  font-size: 12px;
  text-transform: uppercase;
}
.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.user-nav {
  display: flex;
  gap: 0 20px;
}

/* end Header */

/* Hero */
.hero {
  padding-bottom: 150px;
}

.hero__swiper {
  padding-bottom: 50px;
}

.hero-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.hero-slide__inner {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.hero-slide__content {
  flex-basis: 183px;
  padding-bottom: 131px;
}

.hero-slide__title {
  font-family: var(--ff-text-accent);
  font-size: 70px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 55px;
}
.hero-slide__subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}
.hero-slide__text {
  margin-bottom: 20px;
}

.hero-slide__btn {
  margin-left: auto;
}

.button {
  display: inline-block;
  color: var(--purple);
  text-transform: uppercase;
  font-weight: 700;
  padding: 21px 55px;
  border: 1px solid var(--purple);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: var(--white);
  background-color: var(--purple);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}
.container-arrow {
  position: relative;
  padding: 0;
}

.swiper-button-next {
  left: 76px;
  right: auto;
}

/* end Hero */
/* About */
.about {
  padding-bottom: 100px;
  overflow: hidden;
}
.about__inner {
  padding-left: 200px;
}
.about__title {
  max-width: 185px;
  padding-bottom: 20px;
  font-family: var(--ff-text-accent);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.34375;
  text-transform: uppercase;
}
.about__textbox {
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.about__text {
  flex-basis: 387px;
}
.about__text p {
  margin-bottom: 15px;
}
.about__text--bold {
  font-weight: 700;
}

.about__swiper {
  width: 1800px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__item-title {
  margin-bottom: 20px;
}
.about-arrow {
  margin-left: -198px;
  margin-top: -4px;
}

/* end About */

/* Accordeon */
.accordion {
  padding-bottom: 223px;
}

.accordion__inner {
  padding-left: 200px;
}
.accordion__item {
  position: relative;
  padding: 0 101px 0 0;
  border-bottom: 1px solid var(--border);
}

.accordion__arrow {
  position: absolute;
  top: 50px;
  right: 85px;
  width: 16px;
  height: 51px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
/* .accordion__item::before {
  content: '';
  position: absolute;
  top: 50px;
  right: 85px;
  width: 16px;
  height: 51px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  cursor: pointer;
} */

.accordion__triger {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.accordion__triger-title {
  padding-bottom: 42px;
  font-size: 24px;
  text-transform: uppercase;
  flex-basis: 300px;
}
.accordion__triger-text {
  flex-basis: 387px;
  padding-bottom: 20px;
  margin-right: 104px;
}
.accordion__content {
  overflow: hidden;
  max-height: 0;
  padding-bottom: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.accordion__item--active .accordion__content {
  max-height: 500px;
  padding-bottom: 20px;
}

/* products */

.products {
  padding-bottom: 150px;
}
.products__inner {
  position: relative;
  min-height: 647px;
}
.products__title {
  width: 100px;
  font-family: var(--ff-text-accent);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.34;
}
.products__items {
  display: flex;
  gap: 0 20px;
  position: absolute;
  top: 0;
  left: 200px;
}
.products__item {
  text-align: center;
}
.products__item-step {
  opacity: 0.5;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.products__item-img {
  margin-bottom: 20px;
}
.products__item-name {
  margin-bottom: 10px;
}
.products__item-name span {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
.products__item-price {
  font-family: var(--ff-text-accent);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.34375;
}
